/* About Us */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Header Section */

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background-color: #f6fcfd;
  box-shadow: 0px 5px 30px rgba(18, 41, 47, 0.2);
  padding: 0 2rem 0 6.25rem;
  width: 100%;
}

#main-header .img-search .shopmore-mobile-logo {
  display: none;
}

.img-search {
  display: flex;
  align-items: center;
  width: 50%;
}

#main-header .header-form {
  display: flex;
  align-items: center;
  width: 60%;
  height: 2.57rem;
  border-radius: 0.3125rem;
  color: #65696a;
  background-color: #e4eded;
  transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
  border: 0;
  outline: 0;
}

#main-header input[type="search"] {
  all: unset;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0 2rem;
  width: 100%;
  height: 100%;
}

#main-header .img-search button {
  all: unset;
  cursor: pointer;
  width: 2.57rem;
  height: 2.57rem;
}

#main-header .img-search svg {
  display: flex;
  color: #65696a;
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

#main-header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
}

#main-header nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.375rem 0;
}

#main-header nav .active {
  color: #12292f;
  border-bottom: 3px solid #ff8181;
}

#main-header nav .inactive {
  color: #6a7b7b;
  border-bottom: 3px solid transparent;
}

#main-header span {
  padding: 0.375rem 0;
  color: #12292f;
  display: flex;
  align-self: flex-start;
}

#main-header .header-status {
  border: 2px solid #5cceeb;
  border-radius: 0.3125rem;
  padding: 0.375rem 1.625rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #12292f;
  background: #12292f00;
  transition: background 0.2s ease;
}

/* #main-header .header-status:hover {
    background: #12292F;
    border: 2px solid #12292F;
    box-shadow: 0px 5px 15px rgba(31, 69, 78, 0.2);
    color: #C9EFF8;
    border: 0;
} */

#main-header .mobile-only {
  display: none;
}

#main-header .mobile-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 3rem;
}

#main-header hr {
  display: none;
}

#main-header .header-myaccount {
  opacity: 0;
  visibility: hidden;
  display: none;
}

/* Hamburger Menu */

#main-header nav .hamburger {
  display: none;
}

#main-header .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* Footer Section */

#main-footer .main-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
  }
  
  #main-footer .footer-mobile {
    display: none;
  }
  
  #main-footer .footer-item {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1rem;
  }
  
  #main-footer .footer-item a {
    text-decoration: none;
    color: #475252;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
  
  #main-footer .footer-item h5 {
    font-size: 2rem;
    line-height: 2.7rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 1rem;
  }
  
  #main-footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #12292f;
    color: #def5fb;
    text-align: center;
    height: 3.6rem;
  }
  


#landing-main .best-prices {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#landing-main .best-prices h2 {
  font-size: 3.5rem;
  line-height: 4.76rem;
  font-weight: 700;
}

#landing-main .best-prices p,
#landing-main .ready p {
  color: #475252;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  width: 90%;
}

#landing-main .best-prices hr,
#landing-main .best-selling hr,
#landing-main .top-selling hr {
  width: 60%;
  height: 2px;
  margin: 10rem 0;
  background-color: #dfe7e8;
  border: none;
}
.about_hero {
    background-image: url("../images/hero_background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 85vh; */
    width: 100%;
    padding: 2.5% 0 0;
    display: grid;
    /* background-color: red; */
  }
  
  .about_hero div {
    display: grid;
    place-items: center;
  }
  .about_hero h1 {
    font-size: 64px;
    text-align: center;
    width: 78%;
    margin: 0 auto;
  }
  
  #about a {
    padding: 1% 5%;
    color: white;
    background-color: #1f454e;
    text-decoration: none;
    border-radius: 5px;
    margin: 3% 0;
  }
  
  .save_text {
    position: relative;
  }
  
  .save_text img {
    width: 80%;
    bottom: -15%;
    left: 0;
    position: absolute;
  }
  
  .get_started_btn {
    text-align: center;
  }
  
  .screen_image {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  .about_text {
    padding: 0 12%;
  }
  
  .about_text p {
    color: #6a7b7b;
    line-height: 24px;
  }
  
  .about_text h1,
  .about_text h2 {
    color: #12292f;
  }
  
  .about_text div {
    margin: 0 0 4%;
  }
  
  .about_text h1 {
    font-size: 56px;
  }
  
  .about_shopmore h1 {
    margin: 7% 0 3%;
  }
  
  .about_shopmore p {
    margin: 0 0 2%;
    width: 75%;
  }
  
  .about_text h2 {
    font-size: 32px;
  }
  
  .find_the_best p,
  .save_more_money p,
  .save_more_time_shopping p {
    width: 50% !important;
  }
  
  .ready_to_get {
    margin: 10% auto !important;
    text-align: center;
  }
  
  .ready_to_get p {
    margin: 2% 0 3%;
  }
  
  @media screen and (max-width: 1120px) {
    .about_hero h1 {
      font-size: 50px !important;
      width: 86%;
    }
  
    .screen_image {
      width: 70%;
    }
  
    #about h1 {
      font-size: 40px;
    }
  
    .about_text {
      padding: 0 7%;
    }
  
    .about_shopmore p {
      margin: 0 0 2%;
      width: 100%;
    }
  
    .about_text h2 {
      font-size: 28px;
    }
  
    .about_text div {
      margin: 0 0 5%;
    }
  
    .find_the_best,
    .save_more_money,
    .save_more_time_shopping {
      padding: 0 4%;
    }
  
    .find_the_best p,
    .save_more_money p,
    .save_more_time_shopping p {
      width: 100% !important;
    }
  
    .ready_to_get {
      width: 92%;
    }
  
    .ready_to_get p {
      margin: 3% 0 8%;
    }
  
    .ready_to_get a {
      padding: 2% 3% !important;
    }
  }
  
  @media screen and (max-width: 720px) {
    .about_hero h1 {
      font-size: 36px !important;
      width: 90%;
      margin: 12% auto 0;
    }
    #about h1 {
      font-size: 36px;
    }
    .about_text h2 {
      font-size: 24px;
    }
    .about_shopmore p {
      margin: 0 0 4%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .break_tag {
      display: none;
    }
    .about_hero h1 {
      font-size: 30px !important;
      width: 80%;
      margin: 20% auto 0;
    }
  
    .screen_image {
      width: 70%;
    }
  
    #about h1 {
      font-size: 30px;
    }
  
    .about_text {
      padding: 0 7%;
    }
  
    .about_shopmore p {
      margin: 0 0 2%;
      width: 100%;
    }
  
    .about_text h2 {
      font-size: 20px;
    }
  
    .about_text div {
      margin: 0 0 8%;
    }
  
    .about_shopmore p {
      margin: 0 0 6%;
    }
  
    .find_the_best,
    .save_more_money,
    .save_more_time_shopping {
      padding: 0 8%;
    }
  
    .ready_to_get a {
      padding: 4% 3% !important;
    }
  
    .ready_to_get p {
      width: 90%;
      margin: 3% auto 8%;
    }
  }
  
  @media screen and (max-width: 405px) {
    #about h1 {
      font-size: 26px;
    }
    .about_hero h1 {
      font-size: 30px !important;
      width: 85%;
      margin: 20% auto 0;
    }
  }
  
  