{% extends "base.html" %}
  {% block body_block %}
  <div class="jumbotron">
    {% if registered %}
    <h1 align=" 'center"> {{user.username}} You are succeefully Registered, Thank you </h1>
    {% else %}
    <h2 align="center",color=grey>WELCOME TO REGISTRATION PAGE</h2>
    <form class="form-control"  method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" name="" value="Register" class="btn btn-success">      
    </form>
    {% endif %}
  </div>
{% endblock %}
  
   