{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'category/css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'category/css/about_us.css'%}" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5929357117806714"
     crossorigin="anonymous"></script>

    <link
      rel="shortcut icon"
      href="{% static 'category/images/favicon.svg' %}"
      type="image/x-icon"
    />
    <title>About Us</title>
  </head>
  <body>
    <header id="main-header">
      <div class="img-search">
        <img
          src="{% static 'category/images/favicon.svg' %}"
          alt="mobile logo"
          class="shopmore-mobile-logo"
        />
        <img
          src="{% static 'category/images/logo.svg' %}"
          alt="shopmore logo"
          class="shopmore-logo"
        />
        <form
          id="form"
          role="search"
          aria-label="Search Site"
          class="header-form"
          action="{% url 'category:search_results' %}"
          method="get"
        >
          {% csrf_token %}
          <input
            type="search"
            placeholder="Search"
            name="search"
            value="{{ request.GET.query }}"
          />
          <button type="submit">
            <svg viewBox="0 0 1024 1024">
              <path
                class="path1"
                d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"
              ></path>
            </svg>
          </button>
        </form>
      </div>
      <nav>
        <a href="javascript:void(0);" class="hamburger">
          <div class="line line-one"></div>
          <div class="line line-two"></div>
          <div class="line line-three"></div>
        </a>

        <div class="menu">
          <a href="{% url 'category:home' %}" class="inactive">Home</a>
          <a href="{% url 'category:products'%}" class="inactive">Product</a>
          <a href="{% url 'category:about_page'%}" class="active">About</a>
          <a href="{% url 'category:contact_page' %}" class="inactive"
            >Contact</a
          >
          <a href="{% url 'category:faq' %}" class="inactive">FAQ</a>
          <span>|</span>
          {% if not user.is_authenticated %}
          <a href="{% url 'accounts:signin' %}" class="header-status">Sign In</a>
          {% else %}
          <a
            href="{% url 'accounts:user_profile' %}"
            class="header-status header-myaccount"
            >{{ user.username }}
          </a>
          <a href="{% url 'accounts:logout' %}" class="inactive">Logout</a>
          {% endif %}


          <hr />
          <div class="mobile-only">
            <div class="mobile-icons">
              <a href="">Settings</a>
              <img src="{% static 'category/images/setting.svg' %}" alt="" />
            </div>
            <div class="mobile-icons">
              <a href="">Name</a>
              <img src="{% static 'category/images/user.svg' %}" alt="" />
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5929357117806714"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-5929357117806714"
     data-ad-slot="2084048063"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <main id="about">
      <section class="about_hero">
        <div>
          <h1>
            Let’s help you save
            <span class="save_text">
              save
              <img
                src="{% static 'category/images/underline_save.png'%}"
                alt=""
              />
            </span>
            more <br class="break_tag" />
            whilst shopping
          </h1>

          <a class="get_started_btn" href="{% url 'accounts:signin' %}">Get Started</a>
        </div>
        <img
          class="screen_image"
          src="{%static 'category/images/hero_image.png'%}"
          alt=""
        />
      </section>

      <section class="about_text">
        <div class="about_shopmore">
          <h1>About ShopMore</h1>
          <p>
            ShopMore is a platform which enables you to find the best deals when
            buying products (online & offline) by comparing it’s prices accross
            several online platforms. Hence, you save more money by purchasing
            your favorite product at the cheapest rate you can ever get.
          </p>
          <p>
            ShopMore compares prices with millions of products in more than 70
            categories. It features several online platforms including Konga,
            Jumia, Amazon.
          </p>
          <p>
            We are bent on streamlining online shoppers looking for the best
            deals. We aim to provide only the best prices available online and
            direct searchers to the platforms having these deals, at no cost. We
            have no business with specific store merchants and aim only to
            provide the best for the Nigerian public.
          </p>
        </div>
        <div class="find_the_best">
          <h2>Find the best deals when shopping</h2>
          <p>
            Find the best deals when buying products (online & offline)) by
            comparing it’s prices accross several online platforms
          </p>
        </div>
        <div class="save_more_money">
          <h2>Save more money</h2>
          <p>
            Save more money from buying your products at cheap rates so you can
            shop more.
          </p>
        </div>
        <div class="save_more_time_shopping">
          <h2>Save more time shopping</h2>
          <p>
            You spend less time shopping with the help of multi-platform price
            comparison, all in one platform instead of navigating to and fro
            various websites while trying to get the best deals
          </p>
        </div>

        <div class="ready_to_get">
          <h1>Ready to get the best deals?</h1>
          <p>
            Stay updated about the latest and top deals that comes with great
            discount. Don’t stay in the dark when the deals are ON
          </p>

          <a href="#">Subscribe to Our Newsletter</a>
        </div>
      </section>
    </main>

    <footer id="main-footer">
      <div class="main-footer">
        <div class="foot-item footer-main-logo">
          <img
            src="{% static 'category/images/footer-logo.svg' %}"
            alt="footer logo"
          />
        </div>
        <div class="foot-item footer-mobile">
          <img
            src="{% static 'category/images/logo.svg' %}"
            alt="footer logo"
          />
        </div>
        <div class="footer-item foot-item">
          <h5>Company</h5>
          <a href="{% url 'category:about_page'%}">About Us</a>
          <a href="{% url 'category:contact_page' %}">Contact Us</a>
          <a href="">Help & Support</a>
          <a href="{% url 'category:faq' %}">FAQ</a>
        </div>
        <div class="footer-item foot-item">
          <h5>Community</h5>
          <a href="">Join Our Facebook Community</a>
          <a href="">Join our Affiliate Program</a>
          <a href="">Follow Us On Twitter</a>
        </div>
        <div class="footer-item foot-item">
          <h5>Terms & Policies</h5>
          <a href="{% url 'category:privacy' %}">Privacy Notice</a>
          <a href="{% url 'category:terms_of_service' %}">Terms of Service</a>
          <a href="{% url 'category:documentation' %}">Usage Guidlines</a>
        </div>
      </div>
      <div class="copyright"><p>Copyright 2022: Zuri Team 23</p></div>
    </footer>

    <script src="{%static 'category/js/app.js'%}"></script>
  </body>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5929357117806714"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-5929357117806714"
     data-ad-slot="2084048063"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5929357117806714"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-5929357117806714"
     data-ad-slot="2084048063"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</html>
