{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'category/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'category/images/favicon.svg' %}" type="image/x-icon">
    <script defer src="{% static 'category/js/app.js' %}"></script>
    <title>Contact</title>
</head>
<body>
    {% include "nav.html" %}
    <main id="contact-container">
      <div class="contact-row">
        <section class="contact-column">
          <img src="{% static 'category/images/woman-contact.svg' %}" id="contact-main-img">
          
          <div class="contact-border">
            <div class="contact-icon-wrapper">
              <img src="{% static 'category/images/call.svg' %}" alt="" class="contact-icon">
              <span >+234 808 889 9909</span>
            </div>

            <div class="contact-icon-wrapper">
              <img src="{% static 'category/images/sms.svg' %}" alt="" class="contact-icon">
              <span>info@shopmore.com</span>
            </div>
          </div>

            <div class="contact-border">
                <p>Lagos</p>
                <div class="contact-icon-wrapper">
                    <img src="{% static 'category/images/location.svg' %}" alt="" class="contact-icon">
                    <span>Block 135, Lekki Phase 7, Eti Osa</span>
                </div>
            </div>

            <div class="contact-border">
                <p>Abuja</p>
                <div class="contact-icon-wrapper">
                    <img src="{% static 'category/images/location.svg' %}" alt="" class="contact-icon">
                    <span>Block 135, Aminu Kanu Crescent, Wuse.</span>
                </div>
            </div>
          </section>

        <section class="contact-column">
          <h2>Get in touch</h2>
          <p id="contact-heading-paragraph">We are here for you! How can we help?</p>

          <form action="" class="contact-form">
            <label for="full-name">Full Name</label>
            <input type="text" id="full-name" name="full-name" placeholder="John Doe">

            <label for="phone">Mobile</label>
            <input type="tel" id="phone" name="phone" placeholder="+234 8012 567 7893">

            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="johndoe@gmail.com">

            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Send us a message..." style="height:170px"></textarea>

            <input type="submit" value="Submit">
          </form>
        </section>
      </div>
  </main>     
  
  <footer id="main-footer">
    <div class="main-footer">
        <div class="foot-item footer-main-logo"><img src="{% static 'category/images/footer-logo.svg' %}" alt="footer logo"></div>
        <div class="foot-item footer-mobile"><img src="{% static 'category/images/logo.svg' %}" alt="footer logo"></div>
        <div class="footer-item foot-item">
            <h5>Company</h5>
            <a href="">About Us</a>
            <a href="">Contact Us</a>
            <a href="">Help & Support</a>
            <a href="">FAQ</a>
        </div>
        <div class="footer-item foot-item">
            <h5>Community</h5>
            <a href="">Join Our Facebook Community</a>
            <a href="">Join our Affiliate Program</a>
            <a href="">Follow Us On Twitter</a>
        </div>
        <div class="footer-item foot-item">
            <h5>Terms & Policies</h5>
            <a href="">Privacy Notice</a>
            <a href="">Terms of Service</a>
            <a href="">Usage Guidlines</a>
        </div>
    </div>
    <div class="copyright"><p>Copyright 2022: Zuri Team 23</p></div>
</footer>
</body>
</html>