{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Documentation · ShopMore</title>
  <link rel="stylesheet" href="{% static 'category/css/documentation.css'%}" />
  <link rel="stylesheet" href="{% static 'category/css/style.css'%}" />
  <script src="{% static 'category/js/app.js' %}"></script>
  <link
    rel="shortcut icon"
    href="{% static 'category/images/favicon.svg'%}"
    type="image/x-icon"
  />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5929357117806714"
     crossorigin="anonymous"></script>
</head>
<header id="main-header">
  <div class="img-search">
    <img
      src="{% static 'category/images/favicon.svg' %}"
      alt="mobile logo"
      class="shopmore-mobile-logo"
    />
    <img
      src="{% static 'category/images/logo.svg' %}"
      alt="shopmore logo"
      class="shopmore-logo"
    />
    <form
      id="form"
      role="search"
      aria-label="Search Site"
      class="header-form"
      action="{% url 'category:search_results' %}"
      method="get"
    >
      {% csrf_token %}
      <input
        type="search"
        placeholder="Search"
        name="search"
        value="{{ request.GET.query }}"
      />
      <button type="submit">
        <svg viewBox="0 0 1024 1024">
          <path
            class="path1"
            d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"
          ></path>
        </svg>
      </button>
    </form>
  </div>
  <nav>
    <a href="javascript:void(0);" class="hamburger">
      <div class="line line-one"></div>
      <div class="line line-two"></div>
      <div class="line line-three"></div>
    </a>

    <div class="menu">
      <a href="{% url 'category:home' %}" class="inactive">Home</a>
      <a href="{% url 'category:products'%}" class="inactive">Product</a>
      <a href="{% url 'category:about_page'%}" class="inactive">About</a>
      <a href="{% url 'category:contact_page' %}" class="inactive">Contact</a>
      <a href="{% url 'category:faq' %}" class="inactive">FAQ</a>
      <span>|</span>
      {% if not user.is_authenticated %}
      <a href="{% url 'accounts:signin' %}" class="header-status">Sign In</a>
      {% else %}
      <a
        href="{% url 'accounts:user_profile' %}"
        class="header-status header-myaccount"
        >{{ user.username }}
      </a>
      <a href="{% url 'accounts:logout' %}" class="inactive">Logout</a>
      {% endif %}

      <hr />
      <div class="mobile-only">
        <div class="mobile-icons">
          <a href="">Settings</a>
          <img src="{% static 'category/images/setting.svg' %}" alt="" />
        </div>
        <div class="mobile-icons">
          <a href="">Name</a>
          <img src="{% static 'category/images/user.svg' %}" alt="" />
        </div>
      </div>
    </div>
  </nav>
</header>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5929357117806714"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-5929357117806714"
     data-ad-slot="2084048063"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% comment %}
<header id="main-header">
  <div class="img-search">
    <img
      src="{% static 'category/images/favicon.svg' %}"
      alt="mobile logo"
      class="shopmore-mobile-logo"
    />
    <img
      src="{% static 'category/images/logo.svg' %}"
      alt="shopmore logo"
      class="shopmore-logo"
    />
    <form
      id="form"
      role="search"
      aria-label="Search Site"
      class="header-form"
      action="{% url 'category:search_results' %}"
      method="get"
    >
      {% csrf_token %}
      <input
        type="search"
        placeholder="Search"
        name="search"
        value="{{ request.GET.query }}"
      />
      <button type="submit">
        <svg viewBox="0 0 1024 1024">
          <path
            class="path1"
            d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"
          ></path>
        </svg>
      </button>
    </form>
  </div>
  {% endcomment %} {% comment %}
  <nav>
    <a href="javascript:void(0);" class="hamburger">
      <div class="line line-one"></div>
      <div class="line line-two"></div>
      <div class="line line-three"></div>
    </a>

    <div class="menu">
      <a href="{% url 'category:home' %}" class="inactive">Home</a>
      <a href="{% url 'category:products'%}" class="inactive">Product</a>
      <a href="{% url 'category:about_page'%}" class="inactive">About</a>
      <a href="{% url 'category:contact_page' %}" class="inactive">Contact</a>
      <a href="{% url 'category:faq' %}" class="inactive">FAQ</a>
      <span>|</span>
      {% if authenticated %}
      <a
        href="{% url 'accounts:user_profile' %}"
        class="header-status header-myaccount"
        >{{ user.username }}
      </a>
      <a href="{% url 'category:logout' %}" class="inactive">Logout</a>

      {% else %}
      <a href="{% url 'accounts:signin' %}" class="header-status">Sign In</a>
      {% endif %}

      <hr />
      <div class="mobile-only">
        <div class="mobile-icons">
          <a href="">Settings</a>
          <img src="{% static 'category/images/setting.svg' %}" alt="" />
        </div>
        <div class="mobile-icons">
          <a href="">Name</a>
          <img src="{% static 'category/images/user.svg' %}" alt="" />
        </div>
      </div>
    </div>
  </nav>
</header>
{% endcomment %}
<main id="documentation">
  <section class="documentation-1">
    <div class="doc-1-head">
      <h4>Welcome to Shopmore your Price compare Aid!</h4>
      <h6>
        We at ShopMore, are bent on streamlining online shoppers looking for the
        best deals. One of our goals is to provide a wide range of products from
        diverse ecommerce store at the best prices and direct searchers to the
        platforms having these deals, at no cost. No affiliation with store
        merchants , No broken link, no ads, and update stock list. Serving you
        More is our delight.
      </h6>
    </div>
    <div class="doc-1-wrap">
      <div class="doc-1-flex">
        <img src="{% static 'images/icon-1-doc.svg'%}" alt="" />
        <p>Speedy redirection to merchant store</p>
      </div>
      <div class="doc-1-flex">
        <img src="{% static 'images/icon-2-doc.svg'%}" alt="" />
        <p>Compare price across diferent stores</p>
      </div>
      <div class="doc-1-flex">
        <img src="{% static 'images/icon-3-doc.svg'%}" alt="" />
        <p>Personalized user experience</p>
      </div>
    </div>
  </section>

  <section class="documentation-2">
    <div class="doc-2-head">
      <h4>Let's get started</h4>
    </div>
    <div class="doc-sec">
      <img src="{% static 'images/welcome cats.svg'%}" alt="" />
      <div class="">
        <h6>1. Create a Shopmore account or better still Sign Up</h6>
        <ul>
          <li>Input your name and surname</li>
          <li>In put your preferred email address</li>
          <li>Create a password.</li>
          <li>Agree to the terms and conditions.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="documentation-3">
    <div class="doc-sec">
      <div>
        <h6>2. Existing user? Log in. You can also update your profile</h6>
        <ul>
          <li>Input your email</li>
          <li>Input your password</li>
          <li>Select forgot password option</li>
          <li>Add up a username</li>
        </ul>
      </div>
      <img src="{% static 'images/my_app.svg'%}" alt="" />
    </div>
  </section>

  <section class="documentation-4">
    <div class="doc-sec"><a href="">COMPARE PRICES AND SHOPMORE!!</a></div>
  </section>

  <section class="documentation-5">
    <div class="doc-sec">
      <img src="{% static 'images/product_tour.svg'%}" alt="" />
      <div class="div">
        <h6>3. Shop from a wide range of gadgets</h6>
        <ul>
          <li>
            View products by category from mobile phones to home electronics
          </li>
          <li>View popular products and new arrivals</li>
          <li>Conduct a specific search</li>
          <li>Access our about, contact and FAQ pages</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="documentation-6">
    <div class="doc-sec">
      <div>
        <h6>4. Search product result</h6>
        <ul>
          <li>Filter through pages</li>
          <li>Compare prices on a single display</li>
          <li>View a single product across various stores</li>
        </ul>
      </div>
      <img src="{% static 'images/organizing_projects.svg'%}" alt="" />
    </div>
  </section>

  <section class="documentation-7">
    <div class="doc-sec">
      <img src="{%static 'images/purchase 1.svg'%}" alt="" />
      <div>
        <h6>5. View specific Product detail</h6>
        <ul>
          <li>View the product price, vendor and share on your socials</li>
          <li>Check out the product on the vendors extension</li>
          <li>View product specification and details</li>
          <li>Compare prices across diverse platforms</li>
          <li>Leave a comment and see reviews.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="documentation-8">
    <div class="doc-sec doc-bottom doc-btm-1">
      <h6>Did you find this page useful?</h6>
      <div class="doc-bottom-btns">
        <a href="">
          <img src="{% static 'category/images/emoji-smiling.svg'%}" alt="" />
          <span>Yes I did</span>
        </a>

        <a href="">
          <img
            src="{% static 'category/images/emoji-sad-face-line.svg'%}"
            alt=""
          />
          <span>Yes I did</span>
        </a>
      </div>
    </div>

    <div class="doc-sec doc-bottom doc-btm-2">
      <h6>Download our PDF user guide</h6>
      <div class="doc-bottom-btns">
        <a href="{% url 'category:user_guide_pdf'%}">View More</a>
      </div>
    </div>
  </section>
</main>

<footer id="main-footer">
  <div class="main-footer">
    <div class="foot-item footer-main-logo">
      <img
        src="{% static 'category/images/footer-logo.svg' %}"
        alt="footer logo"
      />
    </div>
    <div class="foot-item footer-mobile">
      <img src="{% static 'category/images/logo.svg' %}" alt="footer logo" />
    </div>
    <div class="footer-item foot-item">
      <h5>Company</h5>
      <a href="{% url 'category:about_page'%}">About Us</a>
      <a href="{% url 'category:contact_page' %}">Contact Us</a>
      <a href="">Help & Support</a>
      <a href="{% url 'category:faq' %}">FAQ</a>
    </div>
    <div class="footer-item foot-item">
      <h5>Community</h5>
      <a href="">Join Our Facebook Community</a>
      <a href="">Join our Affiliate Program</a>
      <a href="">Follow Us On Twitter</a>
    </div>
    <div class="footer-item foot-item">
      <h5>Terms & Policies</h5>
      <a href="{% url 'category:privacy' %}">Privacy Notice</a>
      <a href="{% url 'category:terms_of_service' %}">Terms of Service</a>
      <a href="{% url 'category:documentation' %}">Usage Guidlines</a>
    </div>
  </div>
  <div class="copyright"><p>Copyright 2022: Zuri Team 23</p></div>
</footer>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5929357117806714"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-5929357117806714"
     data-ad-slot="2084048063"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script src="{%static 'category/js/app.js'%}"></script>
