{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequently Asked Questions · ShopMore</title>
    <link rel="stylesheet" href="{% static 'category/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'category/images/favicon.svg' %}" type="image/x-icon">
</head>
<body>
    {% include "nav.html" %}
    <main id="faq-main">
        <section class="faq-header">
            <div class="faq-header-wrapper">
                <h3>FAQ</h3>
                <img src="{% static 'category/images/faq-head.png' %}" alt="faq header image">
                <h6>Here are some of the ShopMore frequently asked questions.</h6>
            </div>
        </section>

        <section class="faq-qna">
            <div class="faq-wrapper">
                <div class="faq-img"><img src="{% static 'category/images/message-question.svg' %}" alt=""></div>
                <div class="faq-questions">
                    <h5>Q: Is Your Website Secure?</h5>
                    <p>A: Our website is secured with SSL certificate. This means
                        that the information you input is encrypted and will not
                        be available for third parties.</p>
                </div>
            </div>

            <div class="faq-wrapper">
                <div><img src="{% static 'category/images/message-question.svg' %}" alt=""></div>
                <div>
                    <h5>Q: Why should I buy on ShopMore?</h5>
                    <p>A: Saves you the stress. By ordering online, 
                        you will get prices faster and you will be able 
                        to go through order confirmation and payment 
                        process much faster.</p>
                </div>
            </div>

            <div class="faq-wrapper">
                <div class="faq-img"><img src="{% static 'category/images/message-question.svg' %}" alt=""></div>
                <div class="faq-questions">
                    <h5>Q: How to contact customer service?</h5>
                    <p>A: If you have questions regarding our online 
                        store (account questions, technical questions) please 
                        contact support@shopmore.com or call +234 464 8128.</p>
                </div>
            </div>

            <div class="faq-wrapper">
                <div class="faq-img"><img src="{% static 'category/images/message-question.svg' %}" alt=""></div>
                <div class="faq-questions">
                    <h5>Q: Do you have the product in stock?</h5>
                    <p>A: All products shown on our site are available. Pending 
                        the time of your order is dependent on the products 
                        and quantities.</p>
                </div>
            </div>

            <div class="faq-wrapper">
                <div class="faq-img"><img src="{% static 'category/images/message-question.svg' %}" alt=""></div>
                <div class="faq-questions">
                    <h5>Q: How can I order?</h5>
                    <p>A: You can order easily using our 
                        online platform. When you find a product you need,
                        you will be linked to the site of purchase where 
                        you can order with ease.</p>
                </div>
            </div>

            <div class="faq-wrapper">
                <div class="faq-img"><img src="{% static 'category/images/message-question.svg' %}" alt=""></div>
                <div class="faq-questions">
                    <h5>Q: Are the brands authentic?</h5>
                    <p>A: Our brands are authentic and sourced from trust-worthy 
                        sites. If you are buying from websites that you are not
                         familiar with, research the products they offer.</p>
                </div>
            </div>

            <div class="faq-wrapper">
                <div class="faq-img"><img src="{% static 'category/images/message-question.svg' %}" alt=""></div>
                <div class="faq-questions">
                    <h5>Q: How do I change my personal details?</h5>
                    <p>A: You can easily change all your information 
                        on your account. When you login to ShopMore, go 
                        to your account and edit. This will allow you 
                        change all your contact information.</p>
                </div>
            </div>

            <div class="faq-wrapper">
                <div class="faq-img"><img src="{% static 'category/images/message-question.svg' %}" alt=""></div>
                <div class="faq-questions">
                    <h5>Q: How can I save when shopping?</h5>
                    <p>A: One of the benefits of shopping online is that 
                        you are able to find products at lower prices due 
                        to the economics of E-commerce. We recommend signing 
                        up to our newsletter for updates on sales and new products.</p>
                </div>
            </div>
        </section>

        <section class="faq-bottom">
            <h5>Still have questions?</h5>
            <p>If you cannot find an answer to your question in our FAQ, 
                you can always <span>Contact Us</span>. We will attend to you shortly!</p>
        </section>
    </main>

    <footer id="main-footer">
        <div class="main-footer">
            <div class="foot-item footer-main-logo"><img src="{% static 'category/images/footer-logo.svg' %}" alt="footer logo"></div>
            <div class="foot-item footer-mobile"><img src="{% static 'category/images/logo.svg' %}" alt="footer logo"></div>
            <div class="footer-item foot-item">
                <h5>Company</h5>
                <a href="">About Us</a>
                <a href="">Contact Us</a>
                <a href="">Help & Support</a>
                <a href="">FAQ</a>
            </div>
            <div class="footer-item foot-item">
                <h5>Community</h5>
                <a href="">Join Our Facebook Community</a>
                <a href="">Join our Affiliate Program</a>
                <a href="">Follow Us On Twitter</a>
            </div>
            <div class="footer-item foot-item">
                <h5>Terms & Policies</h5>
                <a href="">Privacy Notice</a>
                <a href="">Terms of Service</a>
                <a href="">Usage Guidlines</a>
            </div>
        </div>
        <div class="copyright"><p>Copyright 2022: Zuri Team 23</p></div>
    </footer>

    <script src="{% static 'category/js/app.js' %}"></script>
</body>
</html>
