<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms of Service · ShopMore</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="img/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <header id="main-header">
      <div class="img-search">
        <img
          src="img/favicon.svg"
          alt="mobile logo"
          class="shopmore-mobile-logo"
        />
        <img src="img/logo.svg" alt="shopmore logo" class="shopmore-logo" />
        <form
          id="form"
          role="search"
          aria-label="Search Site"
          class="header-form"
        >
          <input type="search" placeholder="Search" />
          <button>
            <svg viewBox="0 0 1024 1024">
              <path
                class="path1"
                d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"
              ></path>
            </svg>
          </button>
        </form>
      </div>
      <nav>
        <a href="javascript:void(0);" class="hamburger">
          <div class="line line-one"></div>
          <div class="line line-two"></div>
          <div class="line line-three"></div>
        </a>

        <div class="menu">
          <a href="" class="active">Home</a>
          <a href="" class="inactive">Product</a>
          <a href="" class="inactive">About</a>
          <a href="" class="inactive">Contact</a>
          <a href="" class="inactive">FAQ</a>
          <span>|</span>
          <a href="" class="header-status">Sign In</a>
          <a href="" class="header-status header-myaccount">My Account</a>

          <hr />
          <div class="mobile-only">
            <div class="mobile-icons">
              <a href="">Settings</a>
              <img src="img/setting.svg" alt="" />
            </div>
            <div class="mobile-icons">
              <a href="">Name</a>
              <img src="img/user.svg" alt="" />
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main id="tos">
      <section class="tos-1">
        <p>
          2. Account Activation 2.1 Store Owner Subject to Section 2.1.2, the
          person signing up for the Service by opening an Account will be the
          contracting party (“Store Owner ”) for the purposes of our Terms of
          Service and will be the person who is authorized to use any
          corresponding Account we may provide to the Store Owner in connection
          with the Service. You are responsible for ensuring that the name of
          the Store Owner (including the legal name of the company that owns the
          Store, if applicable) is clearly visible on the Store’s website. If
          you are signing up for the Services on behalf of your employer, your
          employer will be the Store Owner. If you are signing up for the
          Services on behalf of your employer, then you must use your
          employer-issued email address and you represent and warrant that you
          have the authority to bind your employer to our Terms of Service. Your
          Shopify Store can only be associated with one Store Owner. A Store
          Owner may have multiple Shopify Stores. You agree to use Shopify
          Checkout for your store. “Store” means the online store (whether
          hosted by Shopify or on a third party website), or any storefront
          built on top of the Storefront API) or physical retail location(s)
          associated with the Account. 2.2 Staff Accounts Based on your Shopify
          pricing plan, you can create one or more staff accounts (“Staff
          Accounts”) allowing other people to access the Account. Each Staff
          Account must include a full legal name and a valid email account. With
          Staff Accounts, the Store Owner can set permissions and let other
          people work in their Account while determining the level of access by
          Staff Accounts to specific business information (for example, you can
          limit Staff Account access to sales information on the Reports page or
          prevent Staff Accounts from changing general store settings). The
          Store Owner is responsible for: (a) ensuring it’s employees, agents
          and subcontractors, including via Staff Accounts, comply with these
          Terms of Service; and (b) any breach of these Terms of Service by the
          Store Owner’s employees, agents or subcontractors. The Store Owner
          acknowledges and agrees that Store Owner will be responsible for the
          performance of all of its obligations under the Agreement, regardless
          of whether it sublicenses or subcontracts any such obligations to any
          third party, including but not limited to any affiliates or
          subsidiaries of Store Owner. The Store Owner and the users under Staff
          Accounts are each referred to as a “Shopify User”. 2.3 PayPal Express
          Checkout and Shopify Payments Accounts Upon completion of sign up for
          the Service, Shopify will create a PayPal Express Checkout account on
          your behalf, using your Primary Email Address. Depending on your
          location, Shopify may also create a Shopify Payments account on your
          behalf. You acknowledge that PayPal Express Checkout and/or Shopify
          Payments will be your default payments gateway(s) and that it is your
          sole responsibility as the Store Owner to activate and maintain these
          accounts. If you do not wish to keep either of the payment accounts
          active, it is your responsibility to deactivate them. For the
          avoidance of doubt, PayPal Express Checkout is a Third Party Service,
          as defined in Section 9.7.1 of these Terms of Service. 2.4 Shop Pay
          Upon completion of sign up for the Service, if you have been enrolled
          in Shopify Payments, Shop Pay will automatically appear as an
          accelerated checkout option on your checkout page. If you do not wish
          for Shop Pay to appear on your Store, it is your responsibility to
          remove it by managing your accelerated checkouts in your Shopify
          administrative console. If your customers have enabled Shop Pay,
          customers may purchase goods and services from your Shopify Store
          using Shop Pay. By using Shop Pay on your Shopify Store, you agree to
          be bound by the Shop Pay Merchant Terms of Service, as they may be
          amended by Shopify from time to time. If Shopify amends the Shop Pay
          Merchant Terms of Service, amendments are effective as of the date of
          posting. Your continued use of Shop Pay on your Store after the
          amended Shop Pay Merchant Terms of Service are posted constitutes your
          agreement to, and acceptance of, the amended Shop Pay Merchant Terms
          of Service. If you do not agree to any changes to the Shop Pay
          Merchant Terms of Service, it is your responsibility to remove Shop
          Pay by managing your accelerated checkouts in your Shopify
          administrative console. 2.5 Apple Pay for Safari Account Upon
          completion of sign up for the Service, Shopify will create an Apple
          Pay for Safari (“Apple Pay”) account on your behalf, using the URL(s)
          and business name associated with your Account. Depending on your
          location, Shopify may activate your Apple Pay account on your behalf,
          otherwise you will be required to activate your Apple Pay account
          within your Account admin. If you do not wish to keep your Apple Pay
          account active, it is your responsibility to deactivate it. For the
          avoidance of doubt, Apple Pay is a Third Party Service, as defined in
          Section 9.7.1 of these Terms of Service. If you use an Apple Pay
          supported payment gateway and your customers have enabled Apple Pay on
          their device, customers may purchase goods and services from your
          Store using Apple Pay. By using Apple Pay on your Store, you are
          agreeing to be bound by the Apple Pay Platform Web Merchant Terms and
          Conditions, as they may be amended by Apple from time to time. If
          Apple amends the Apple Pay Platform Web Merchant Terms and Conditions,
          the amended and restated version will be posted here:
          https://www.shopify.com/legal/apple-pay. Such amendments to the Apple
          Pay Platform Web Merchant Terms are effective as of the date of
          posting. Your continued use of Apple Pay on your Store after the
          amended Apple Pay Platform Web Merchant Terms are posted constitutes
          your agreement to, and acceptance of, the amended Apple Pay Platform
          Web Merchant Terms. If you do not agree to any changes to the Apple
          Pay Platform Web Merchant Terms, de-activate your Apple Pay account
          and do not continue to use Apple Pay on your Store. 2.6 Google Pay
          Upon completion of sign up for the Service, if you have been enrolled
          in Shopify Payments, Shopify will also create a Google Pay account on
          your behalf. If you do not wish to keep your Google Pay account
          active, it is your responsibility to deactivate it. For the avoidance
          of doubt, Google Pay is a Third Party Service, as defined in Section
          9.7.1 of these Terms of Service. If you use a Google Pay supported
          payment gateway and your customers have enabled Google Pay, customers
          may purchase goods and services from your Store using Google Pay. By
          using Google Pay on your Store, you are agreeing to be bound by the
          Google Pay API Terms of Service, as they may be amended by Google from
          time to time. If Google amends the Google Pay API Terms of Service,
          the amended and restated version will be posted here:
          https://payments.developers.google.com/terms/sellertos. Such
          amendments to the Google Pay API Terms of Service are effective as of
          the date of posting. Your continued use of Google Pay on your Store
          after the amended Google Pay API Terms of Service are posted
          constitutes your agreement to, and acceptance of, the amended Google
          Pay API Terms of Service. If you do not agree to any changes to the
          Google Pay API Terms of Service, deactivate your Google Pay account
          and do not continue to use Google Pay on your Store. 2.7 Meta Pay Upon
          completion of sign up for the Service, if you have been enrolled in
          Shopify Payments, Shopify will also create a Meta Pay account on your
          behalf. If you do not wish to keep your Meta Pay account active, it is
          your responsibility to deactivate it. For the avoidance of doubt, Meta
          Pay is a Third Party Service, as defined in Section 9.7.1 of these
          Terms of Service. If you use a Meta Pay supported payment gateway and
          your customers have enabled Meta Pay, customers may purchase goods and
          services from your Store using Meta Pay. By using Meta Pay on your
          Store, you are agreeing to be bound by the Meta Pay Merchant Terms and
          Conditions, as they may be amended by Meta from time to time. If Meta
          amends the Meta Pay Merchant Terms and Conditions, such amendments
          will be effective as of the date of posting by Meta. Your continued
          use of Meta Pay on your Store after the amended Meta Pay Merchant
          Terms and Conditions are posted constitutes your agreement to, and
          acceptance of, the amended Meta Pay Merchant Terms and Conditions. If
          you do not agree to any changes to the Meta Pay Merchant Terms and
          Conditions, de-activate your Meta Pay account and do not continue to
          use Meta Pay on your Store. 2.8 Domain Names Upon purchasing a domain
          name through Shopify, domain registration will be preset to
          automatically renew each year so long as your Shopify Account remains
          active. You acknowledge that it is your sole responsibility to
          deactivate the auto-renewal function should you choose to do so.
        </p>
      </section>
    </main>

    <footer id="main-footer">
      <div class="main-footer">
        <div class="foot-item footer-main-logo">
          <img src="img/footer-logo.svg" alt="footer logo" />
        </div>
        <div class="foot-item footer-mobile">
          <img src="img/logo.svg" alt="footer logo" />
        </div>
        <div class="footer-item foot-item">
          <h5>Company</h5>
          <a href="">About Us</a>
          <a href="">Contact Us</a>
          <a href="">Help & Support</a>
          <a href="">FAQ</a>
        </div>
        <div class="footer-item foot-item">
          <h5>Community</h5>
          <a href="">Join Our Facebook Community</a>
          <a href="">Join our Affiliate Program</a>
          <a href="">Follow Us On Twitter</a>
        </div>
        <div class="footer-item foot-item">
          <h5>Terms & Policies</h5>
          <a href="">Privacy Notice</a>
          <a href="">Terms of Service</a>
          <a href="">Usage Guidlines</a>
        </div>
      </div>
      <div class="copyright"><p>Copyright 2022: Zuri Team 23</p></div>
    </footer>
    <script src="app.js"></script>
  </body>
</html>
