{% extends 'base.html' %}
{% load social_share %}


{% block title %}{{product.name}}{% endblock %}

{% block body_block %}
    <h1>{{product.name}}</h1>
    <img src="{{product.img_src}}" alt="{{product.name}}">
    {% for platform in platforms %}
        <h2>
            {{platform.platform_name}} :
            <a href="https://jumia.com.ng{{platform.link}}" target="blank">
                Buy
            </a>
        </h2>
        <h3>{{platform.price}}</h3>
        <span>---------------------------------------<span>
    {% endfor %}
    {% with comments.count as total_comments %}
    <h2>
        <span>{{ total_comments }} comment{{ total_comments|pluralize }}</span>
    </h2>
    {% endwith %}
    <ol>
    {% for comment in comments %}
    <li>
        <div>
            <p>when the comment was created: {{ comment.created }}</p>
            <p>{{ comment.username }}</p>
            comment content: {{ comment.body|linebreaks }}
        </div>
    </li>
        {% empty %}
            <p>There are no comments</p>
    {% endfor %}
    <ol>

{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <h2>Add a new comment</h2>
    <form method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}
{% post_to_twitter "New Song: baby. Check it out!" twitter.com "Post to Twitter" %}
{% endblock %}