<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./password-email.css">
    <link rel="shortcut icon" href="./image/favicon.svg" type="image/x-icon">
    <title>Password reset email</title>
</head>
<body>
    <main>
        <div class="main">
            <div class="logo">
                <img src="./image/logo.svg" alt="">
            </div>
            <div>
                <p class="para">Enter the email associated with your account and we will send you a link to reset your password.</p>
            </div>
            <div>
                <form action="">
                <label for="">
                    <p>Email</p>
                    <div class="form">
                        <input type="text" placeholder="john.deo@gmail.com" required>
                        <button type="submit">Submit</button>
                    </div>
                </label>
            </form>
            </div>
        </div>
    </main>

    <footer id="main-footer">
        <div class="main-footer">
            <div class="foot-item footer-main-logo"><img src="./image/footer-logo.svg" alt="footer logo"></div>
            <div class="foot-item footer-mobile"><img src="./image/logo.svg" alt="footer logo"></div>
            <div class="footer-item foot-item">
                <h5>Company</h5>
                <a href="">About Us</a>
                <a href="">Contact Us</a>
                <a href="">Help & Support</a>
                <a href="">FAQ</a>
            </div>
            <div class="footer-item foot-item">
                <h5>Community</h5>
                <a href="">Join Our Facebook Community</a>
                <a href="">Join our Affiliate Program</a>
                <a href="">Follow Us On Twitter</a>
            </div>
            <div class="footer-item foot-item">
                <h5>Terms & Policies</h5>
                <a href="">Privacy Notice</a>
                <a href="">Terms of Service</a>
                <a href="">Usage Guidlines</a>
            </div>
        </div>
        <div class="copyright"><p>Copyright 2022: Zuri Team 23</p></div>
    </footer>
</body>
</html>