<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
 
  {% block body_block %}
  <h1>Log-in</h1>
  {% if form.errors %}
  <p>
  Your username and password didn't match.
  Please try again.
  </p>
  {% else %}
  <p>Please, use the following form to log-in:</p>
  {% endif %}
  <div class="form-group">
  <form class="form-control" method="post">
  {{ form.as_p }}
  {% csrf_token %}
  <p><input type="submit" value="Log-in"><span> <a href="{% url 'accounts:password_reset' %}">Forgot Password</span></p>
  </form>
  </div>
  {% endblock %}


