{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
    <body>
        <div class="navbar">
           <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
          
             <div class="container-fluid">
               
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 
                 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% if user.is_superuser and user.is_active %}
                   <li class="nav-item">
                     <a class="nav-link" href="{% url 'admin:index' %}"><span>Admin</span></a>
                   <li class="nav-item">
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'category:landing' %}"><span size="20" class="alert alert-success" role="alert">Home</span></a>
                  </li>
                    {% if user.is_authenticated %}
                    <li>
                      <a class="nav-link" href="{% url 'accounts:logout' %}"><span>Logout</span></a>
                    </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}"><span>Register</span></a> 
                      </li>
                      <a class="nav-link" href="{% url 'accounts:login'%}"><span>Login</span></a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </nav>
        <div class="content">

            {% block body_block %}
                
            {% endblock%}
        </div>
    </body>
</html>
