{% load static %}
<header id="main-header">
  <div class="img-search">
    <img
      src="{% static 'category/images/favicon.svg' %}"
      alt="mobile logo"
      class="shopmore-mobile-logo"
    />
    <img
      src="{% static 'category/images/logo.svg' %}"
      alt="shopmore logo"
      class="shopmore-logo"
    />
    <form
      id="form"
      role="search"
      aria-label="Search Site"
      class="header-form"
      action="{% url 'category:search_results' %}"
      method="get"
    >
      {% csrf_token %}
      <input
        type="search"
        placeholder="Search"
        name="search"
        value="{{ request.GET.query }}"
      />
      <button type="submit">
        <svg viewBox="0 0 1024 1024">
          <path
            class="path1"
            d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"
          ></path>
        </svg>
      </button>
    </form>
  </div>
  <nav>
    <a href="javascript:void(0);" class="hamburger">
      <div class="line line-one"></div>
      <div class="line line-two"></div>
      <div class="line line-three"></div>
    </a>

    <div class="menu">
      <a href="{% url 'category:home' %}" class="active">Home</a>
      <a href="{% url 'category:products'%}" class="inactive">Product</a>
      <a href="{% url 'category:about_page'%}" class="inactive">About</a>
      <a href="{% url 'category:contact_page' %}" class="inactive">Contact</a>
      <a href="{% url 'category:faq' %}" class="inactive">FAQ</a>
      <span>|</span>
      {% if not user.is_authenticated %}
      <a href="{% url 'accounts:signin' %}" class="header-status">Sign In</a>
      {% else %}
      <a
        href="{% url 'accounts:user_profile' %}"
        class="header-status header-myaccount"
        ><svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
            stroke="#AEE7F5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M20.5901 22C20.5901 18.13 16.7402 15 12.0002 15C7.26015 15 3.41016 18.13 3.41016 22"
            stroke="#AEE7F5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      {% endif %}

      <hr />
      <div class="mobile-only">
        <div class="mobile-icons">
          <a href="">Settings</a>
          <img src="{% static 'category/images/setting.svg' %}" alt="" />
        </div>
        <div class="mobile-icons">
          <a href="">Name</a>
          <img src="{% static 'category/images/user.svg' %}" alt="" />
        </div>
      </div>
    </div>
  </nav>
</header>
